#container {    
    display: grid;
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr 45px auto;
    grid-template-areas: 
    "files devices options"
    "files configuration options"
    "files scanbutton scanbutton"
    "files results results";
}

#files {
    grid-area: files;
    text-align: left;
}

#configuration {
    grid-area: configuration;
    text-align: left;
    margin: 10px;
    bottom: 0;
}

#devices {
    grid-area: devices;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width : 450px;
    height: auto;
    margin: auto;
}

#scanbutton {
    grid-area: scanbutton;
    border: 1px white solid;
    height: 25px;
    line-height: 25px;
    margin: 10px;
}

#options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    width: 150px;
}

#results {
    grid-area: results;
}

.file {
    height: 20px;
    line-height: 20px;
}

.del {
    color: red;
    margin-left: 20px;
}
.selected {
    background-color: blueviolet;
}

.options-cont {
    width: 130px;
    position: relative;
}

.option-name {
    width: 80px;
    float: left;
    text-align: left;
}

.option-select {
    width: 50px;
    float: right;
    text-align: right;
}

.option-input {
    width: 50px;
    float: right;
    text-align: right;
}