body {
    margin: 0;

}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    color: white;
    background-color: gray;
    text-align: center;
    max-width: 900px;
    width: 100vw;
}


#inner2 {    
    display: grid;
    min-width: 400px;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr 45px auto 45px;
    grid-template-areas: 
    "devices options"
    "configuration options"
    "scanbutton scanbutton"
    "results results"
    "results results";
    margin-bottom: 40px;
    margin-top: 8px;
}

#inner1 {
    display: grid;
    flex-grow: 1;      /* it can grow */
    flex-shrink: 1;    /* it can shrink */
    flex-basis: 200px; /* arbitrary depending on design */
    min-width: 200px;  /* equal to flex-basis */
    max-width: 40%;    /* (100% - margins)/number of boxes */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 45px;
    grid-template-areas: 
    "files"
    "group";
}

#files {
    width: 100%;
    grid-area: files;
    text-align: left;
}

#configuration {
    grid-area: configuration;
    text-align: left;
    margin: 10px;
    bottom: 0;
}

#group {
    grid-area: group;
    line-height: 25px;
    margin: 10px;
    border: 1px white solid;
}

#devices {
    grid-area: devices;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width : 380px;
    height: auto;
    margin: auto;
}

#scanbutton {
    grid-area: scanbutton;
    border: 1px white solid;
    height: 25px;
    line-height: 25px;
    margin: 10px;
}

#scanbutton:hover {
    background-color: darkgray;
}

#options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    width: 150px;
}

#results {
    grid-area: results;
}

#configuration-increment {
    width: 40px;
}

.file {
    display: grid;
    height: 20px;
    line-height: 20px;
    text-align: right;
    grid-template-columns: 30px auto 30px 25px;
    grid-template-rows:  1fr;
    grid-template-areas: 
    "del fileName getFile showPic"
}

.getFile {
    grid-area: getFile;
    text-align: right;
}

.fileName {
    grid-area: fileName;
    min-width: 30px;
    overflow: hidden;
    text-align: left;
    white-space: pre;
}

.del {
    grid-area: del;
    color: red;
    text-align: left;
}

.showPic {
    grid-area: showPic;
    text-align: right;
}

.selected {
    background-color: blueviolet;
}

.options-cont {
    width: 130px;
    position: relative;
}

.option-name {
    width: 80px;
    float: left;
    text-align: left;
}

.option-select {
    width: 50px;
    float: right;
    text-align: right;
}

.option-input {
    width: 50px;
    float: right;
    text-align: right;
}
